<p>
  <strong>Ordenar:
    <%= link_to 'todas', :action => 'index', :id => '' %>,
    <%= link_to 'abiertas', :action => 'index', :id => 'abierta' %>,
    <%= link_to 'procesadas', :action => 'index', :id => 'procesada' %>,
    <%= link_to 'cerradas', :action => 'index', :id => 'cerrada' %>,
    <%= link_to 'fallidas', :action => 'index', :id => 'fallida' %></strong>
  </p>
