<%= form_tag :action => 'search' do%>
<%= text_field_tag :search, params[:search], placeholder: "Buscar por producto" %>
<%= submit_tag 'Buscar' %>
<% end %>

<% if @products.present?%>
<p><%= pluralize(@products.size, "resultado encontrado", "resultados encontrados")%></p>
<%= render :partial => 'products' %>
<% end %>
