<table>
    <tr>
        <% if !@brand.logo_url.blank? %>
        <td>
            <img height="200" src="<%= @brand.logo_url %>"></img>
        </td>
        <% end %>
        <td>
          <b>Nombre: </b> <%= @brand.name %><br><br><br>
          <b>CIF: </b> <%= @brand.cif %>
      </td>
  </tr>
</table>
<%= link_to 'Editar', :action => 'edit', :id => @brand %> |
<%= link_to 'Atras', :action => 'index' %>
